.channels-container {
    position: absolute;
    left: var(--channel-container-left-offset);
    top: 8vh;  /*Desktop*/
    width: var(--channel-container-width);
    height: var(--channel-container-height);
    display: flex;
    justify-content: center;
    overflow: hidden;
    border: 2px solid red;
}

/* .channel-grid {
    position: relative;
    flex-basis: 170px;
    display: grid;
    height: 100%;
    align-content: center;
    gap: 0.0vh;
    border:2px solid purple;
} */

.channel-grid.next {
    animation:
        grid-scroll-left 0.5s ease-in-out forwards;
}

.channel-grid-1, .channel-grid-2, .channel-grid-3, .channel-grid-4{
    position: relative;
    display: grid;
    height: 100%;
    align-content: center;
    gap: 0.0vh;
    border:2px solid purple;
}



.channel-grid-next {
    position: relative;
    display: grid;
    height: 100%;
    align-content: center;
    gap: 0.0vh;
    border:2px solid purple;
}

.channel-column {
    position: relative;
    width: var(--channel-width);
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    min-width: var(--channel-width);
    border:2px solid red;
}

@keyframes grid-scroll-left {
    100%{
        transform: translate(-100%, 0%);
    }
    
}