.channels-container {
    position: absolute;
    left: var(--channel-container-left-offset);
    top: 8vh;  /*Desktop*/
    width: var(--channel-container-width);
    height: var(--channel-container-height);
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.channel-grid {
    position: relative;
    display: grid;
    height: 100%;
    align-content: center;
    gap: 0.0vh;
}


.channel-column {
    position: relative;
    width: var(--channel-width);
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    min-width: var(--channel-width);
    border: 2px solid purple;
}

/* .next-arrow{
    position: absolute;

    top: 50%;
    transform: translate(-50%, -54%);
    z-index: var(--arrow-z);
} */