#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  user-select: none;
  overflow: hidden;
}

:root {
  /* menu */
  --background-z: 0;
  --menu-bottom-z: 1;
  --menu-button-image-z: 2;
  --date-z: 2;
  --time-z: 2;
  --menu-button-tooltip-image-z: 5;
  --menu-button-tooltip-text-z: 6;
  --channel-select-background-unselected-z: 0;
  --channel-select-background-selected-z: 7;
  --bottom-bar-height: 27vh;
  --mail-button-bottom: 4.5vh;
  --mail-button-right: 5.8vh;
  --time-digit-height: 9vh;
  --date-font-size: 5vh;
  
  /* channel */
  --ib-aspect-ratio: 170/96;
  --channel-width: 37.8vh;
  --channel-container-left-offset: 7.5vw;
  --channel-container-top-offset: 5vh;
  --channel-container-width: 360vw;
  --channel-container-height: 69vh;
  --channel-zoom-scale: 4;
  
  --banner-button-height: 12.4%;

  /* arrow */
  --menu-arrow-z: 8;
  --menu-arrow-sign-z: 9;
  --next-sign-home-x: 4%;
  --prev-sign-home-x: -7%;
  --arrow-bounce-cycle: 0.91s;

  /* --next-arrow-home-y: 0 */
  /*This is for icon*/
  /* --ib-aspect-ratio: 832/456; THIS IS FOR THE BANNER*/

}

@media (max-width: 1200px) {
  :root {
    --bottom-bar-height: 15vh;

    --mail-button-right: 3.1vh;
    --mail-button-bottom: 2.6vh;

    --time-digit-height: 5vh;

    --date-font-size: 210%;
  }
}

@media (max-width: 1440px) {
  :root {
    --channel-width: 28vh;
    --channel-container-height: 75vh;
  }
}


@media (max-width: 560px) {
  :root {
    --bottom-bar-height: 13vh;
    --date-font-size: 110%;
  }
}

@media (max-width: 620px) {
  :root {
    --channel-width: 28vh;
    --channel-container-height: 80vh;
  }
}

@media (max-width: 490px) {
  :root {
    --bottom-bar-height: 10vh;

    --mail-button-right: 2.1vh;
    --mail-button-bottom: 1.7vh;

    --time-digit-height: 3vh;

    --date-font-size: 100%;

  }
}

@media (max-width: 410px) {
  :root {
    --bottom-bar-height: 8vh;

    --mail-button-right: 1.7vh;
    --mail-button-bottom: 1.4vh;

    --date-font-size: 75%;
  }
}

.home-screen {
  position: relative;
  width: 100vw;
  height: 100vh; 
  overflow: hidden;
  cursor: url("./assets/cursor/cursor_smaller.png") 39 0, auto;
}

.zoom-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform-origin: 0 0;
  transition: transform 0.5s ease-in-out;
}

.zoom-wrapper.selected {
  transform:
    /* scaling cleanly multiplies the zoom point vw (and vh) by the scaling factor,
    leaving it not cleanly at 50vw,50vh (center of the screen). translate nudges it
    back to the center */
    translate(
      calc(50vw - var(--zoom-origin-x) * var(--channel-zoom-scale)),
      calc(50vh - var(--zoom-origin-y) * var(--channel-zoom-scale))
    )
    scale(var(--channel-zoom-scale));
}