.next-container, .prev-container{
    z-index: var(--menu-arrow-z);
}

.next-container {
    /* transform: translate(-50%, -54%); */
}

.prev-container {
    /* right: 0;*/
    /* transform: translate(50%, -54%);  */
}

.next-arrow-hitbox, .prev-arrow-hitbox {
    position: absolute;
    top: 25%;

    height: 50%;
    width: 40%;
}

.next-arrow-hitbox{
    left: 57%; /*The hitbox is like this on the actal wii lol*/
}

.prev-arrow-hitbox {
    right: 59%; /*TODO: fix why this is slightlly diff from above*/
}

/* TODO: MOVE MOVEMENT TO STYLE IN OTHER FILE*/
.next-arrow, .prev-arrow{
    position: absolute;
    height: 60%;
    width: 45%;

    top: 18%;
    will-change: transform;
    /* transform: translate(0%, -50%);    */
}

.next-arrow {
    left: 0;
    transform-origin: right center;
    animation: next-arrow-bounce 0.91s ease-in-out infinite; /*found time by timing menu */
}

.prev-arrow {
    right: 0;
    transform-origin: left center;
    animation: prev-arrow-bounce 0.91s ease-in-out infinite;
}

.next-arrow.enter {
    animation:
        next-arrow-bounce 0.91s ease-in-out infinite,
        arrow-hover 0.1s ease-in-out 1;
}

.prev-arrow.enter {
    animation:
        prev-arrow-bounce 0.91s ease-in-out infinite,
        arrow-hover 0.1s ease-in-out 1;
}

/*TODO: Get rid of second magic numbers with sass*/

.next-arrow.leave {
    animation:
        next-arrow-bounce 0.91s ease-in-out infinite,
        next-arrow-sign-wobble 0.2s ease-in-out 1;
}

.prev-arrow.leave {
    animation:
        prev-arrow-bounce 0.91s ease-in-out infinite,
        prev-arrow-sign-wobble 0.2s ease-in-out 1;
}

.next-sign-hitbox, .prev-sign-hitbox{
    position: absolute;

    height: 100%;
    width: 100%;
}

.next-sign, .prev-sign{
    position: absolute;
    top: 18%;

    height: 60%;
    visibility: visible;
    z-index: var(--menu-arrow-sign-z);

    transform-origin: center;
    will-change: transform;

    opacity: 0;
    pointer-events: none;
}

.next-sign {
    left: 0;
    transform: translateX(var(--next-sign-home-x));
}


.prev-sign{
    right: 0;
    transform: translateX(var(--prev-sign-home-x));
}

.next-sign.visible, .prev-sign.visible{
    opacity: 1;
    pointer-events: auto;
    transform-origin: center;
}

.next-sign.visible {
    animation:
        next-arrow-bounce 0.91s ease-in-out infinite,
        next-sign-enter 0.066s ease-in-out 1,
        next-sign-enter-wobble 0.067s 0.066s ease-in-out 1;
}

.prev-sign.visible{
    animation:
        prev-arrow-bounce 0.91s ease-in-out infinite,
        prev-sign-enter 0.066s ease-in-out 1,
        prev-sign-enter-wobble 0.067s 0.066s ease-in-out 1;
}

.next-sign.visible.click {
    animation:
        next-arrow-bounce 0.91s ease-in-out infinite,
        next-sign-enter 0.066s ease-in-out 1,
        next-sign-enter-wobble 0.067s 0.066s ease-in-out 1,
        sign-click 0.3s ease-in-out forwards;
}

.prev-sign.visible.click{
    animation:
        prev-arrow-bounce 0.91s ease-in-out infinite,
        prev-sign-enter 0.066s ease-in-out 1,
        prev-sign-enter-wobble 0.067s 0.066s ease-in-out 1,
        sign-click 0.3s ease-in-out forwards;
}

.next-sign.hidden {
    animation: 
        next-arrow-bounce 0.91s ease-in-out infinite,
        next-sign-leave 0.05s ease-in-out forwards;
}

.prev-sign.hidden{
    animation: 
        prev-arrow-bounce 0.91s ease-in-out infinite,
        prev-sign-leave 0.05s ease-in-out forwards;
}


.next-container.channel-select{
    animation:
        next-arrow-channel-select-slide 3s ease-in-out forwards
}

.next-container.next-edge {
    transform-origin: right center;
    animation: edge-slide-thin 0.133s ease-in-out forwards 0.3s;
}

.prev-container.prev-edge {
    transform-origin: left center;
    animation: edge-slide-thin 0.133s ease-in-out forwards 0.3s;
}

.next-sign.edge-shrink,
.next-sign.visible.edge-shrink,
.next-sign.visible.click.edge-shrink {
    transform-origin: right center;
    animation: sign-edge-shrink 0.133s ease-in-out forwards 0.3s;
}

.prev-sign.edge-shrink,
.prev-sign.visible.edge-shrink,
.prev-sign.visible.click.edge-shrink {
    transform-origin: left center;
    animation: 
        sign-edge-shrink 0.133s ease-in-out forwards 0.3s;
}


@keyframes arrow-hover {
    30% {
        transform-origin: center;
        transform: scaleY(35%);
    }
}

@keyframes next-arrow-sign-wobble {
    15% {
        transform: translateX(12%) 
            scale(0.72, 1);
    }
}

@keyframes prev-arrow-sign-wobble {
    15% {
        transform: translateX(-16%)
            scale(0.72, 1);
    }
}

@keyframes next-sign-enter {
    0% {
        top: 17%;
        left: 22%;
        scale: 0.3;
    }
}

@keyframes prev-sign-enter {
   0% {
        top: 6%;
        right: 22%;
        scale: 0.3;
    } 
}

/* By observation the sign slightly wobbles 
 after fully enlarging*/
@keyframes next-sign-enter-wobble {
    0% {
        transform: translateX(var(--next-sign-home-x));
        transform-origin: right center;
    }

    50% {
        /* left: 0; */
        transform: translateX(var(--next-sign-home-x));
        transform: scale(0.9, 1);
        
        transform-origin: right center;
    }

    100% {
        /* left: 0; */
        transform: translateX(var(--next-sign-home-x));
        transform-origin: right center;
    }
}

@keyframes prev-sign-enter-wobble {
    0% {
        transform: translateX(var(--prev-sign-home-x));
        transform-origin: left center;
    }

    50% {
        transform: translateX(var(--prev-sign-home-x)); 
        transform: scale(0.9, 1);
        
        transform-origin: left center;
    }

    100% {
        transform: translate(var(--prev-sign-home-x));
        transform-origin: left center;
    }
}

@keyframes next-sign-leave {
    0% {
        opacity: 1;
        transform: translateX(var(--next-sign-home-x));
        transform-origin: right center;
    }

    99% {
        opacity: 0.3;
        transform: translateX(var(--next-sign-home-x));
        transform: scale(0.3, 0.5);
        transform-origin: right center;
    }

    100% {
        opacity: 0;
    }
}

@keyframes prev-sign-leave {
    0% {
        opacity: 1;
        transform: translateX(var(--prev-sign-home-x));
        transform-origin: left center;
    }

    99% {
        opacity: 0.3;
        transform: translateX(var(--prev-sign-home-x));
        transform: scale(0.3, 0.5);
        transform-origin: left center;
    }

    100% {
        opacity: 0;
    }
}

@keyframes sign-click {
    0% {
        /* filter: brightness(0); */
    }

    15% {
        /* brightness:(1) invert(0) */
        filter: brightness(500%);
    }

    /* 35.5% {
        filter: brightness(500%);
    } */

    100% {
        /* filter: brightness(0); */
    }
}

@keyframes next-arrow-bounce {
    40% {
        translate: 0.3vw 0vh;
    }
}

@keyframes prev-arrow-bounce {
    40% {
        translate: -0.3vh 0vh;
    }
}

/* @keyframes next-arrow-channel-select-slide {
    100% {
        transform: translate(-40vw, -10vh);
     }
} */

@keyframes edge-slide-thin {
    0% {
        transform: scaleX(1);
    }

    100% {
        transform:  scaleX(0);
    }
}

@keyframes sign-edge-shrink {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

